html {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html li {
  list-style-type: none;
}

.title{
  text-align: center;
  margin-top: 25px;
}

/* .form{
    margin: auto;
    max-width:400px;
    text-align: center;
} */

input[type='submit'], button, [aria-label]{
  cursor: pointer;
}
#edit-box{
  display: none;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th, td{
    /* background-color: aliceblue; */
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

tr:hover {
  background-color: rgb(57, 46, 46);
}

.to-do{
    background: transparent !important;
}

/* form.form-group {
  display: table;
  margin-bottom: 15px;
} */

div.form-group {
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
  /* width: 50%; */
}


label {
  padding-right: 10px;
}
